<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%-
    include("./common/nav",{navs:["首页","业务介绍","公司新闻","加入我们","联系我们"]})
    %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ul>
      <%schoolName.forEach(item=>{%>
      <li><%= item %></li>
      <%})%>
    </ul>
    <%- richHTML %>
  </body>
</html>
